@tailwind base{
    .beach {
        @apply background-image: url('/images/beach2.jpg');
        @apply dark:background-image: url('/images/sunset.jpg');
    }
};
@tailwind components;
@tailwind utilities;

/* .beach{
    background-image: url('/images/beach2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    background-attachment: fixed;
}*/
.sunset{
    background-image: url('/images/beach2.jpg');
    /*dark:background-image: url('/images/sunset.jpg');*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    background-attachment: fixed;
} 