@tailwind base;
@tailwind components;
@tailwind utilities;

.beach{
    background-image: url('/images/beach2.jpg');
}
.dark{
    background-image: url('/images/sunset.jpg');    
}
.backgrd{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    background-attachment: fixed;
}